@charset "utf-8";
*{
    padding:0;
    margin:0;
    list-style: none;
}
#wrapper{
    background-color: #333;
    width:2200px;
    height:1100px;
    position:relative;
}
#content{
    width:1970px;
    height:1000px;
    border:1px solid #333;
    margin:10px;
    background:url(../img/background.png) no-repeat center/cover;
}
#car1{
    display: inline-block; position: absolute; 
    top:300px; width:170px;
}
#car2{
    display: inline-block; position: absolute; 
    top:500px; width:170px;
}
#car3{
    display: inline-block; position: absolute; 
    top:700px; width:170px;
}
#car4{
    display: inline-block; position: absolute; 
    top:900px; width:170px;
}

#strBtn{
    background-color: rgba(0, 0, 0, 0.1);
    font-size:40px;
    color: red;
    padding: 20px;
}
#reBtn{
    background-color: rgba(0, 0, 0, 0.1);
    font-size:40px;
    color: red;
    padding: 20px;
}

#ranking{
    color:#fff;
    position: absolute;
    top:100px;
    right:100px;
    font-size:30px;
}












