@charset "utf-8";
*{
    margin:0;
    padding:0;
    list-style: none;
    background-color: rgb(12, 12, 27);
    color:#fff;
}
input[type=button]:hover{
    background-color: rgb(61, 30, 30)
}
h1{
    text-align: center;
    margin: 30px 0 30px;
}

#shopStock{
    width : 1500px;
    height: 1000px;
    border : 1px solid #fff;
    margin: 0 auto;
    position: relative;
}

/* shop */
#shopStock #shop{
    width:486px; 
    height: 99%;
    display: block;
    float: left;
    border: 1px solid #fff;
    margin:5px;
    box-sizing: border-box;
    padding:10px;
}
/* shop _ input:text,addbtn */
#shopTop{
    width:100%;
    height:40px;
    margin: 10px 0;
}
#shopTop #shopname{
    width:380px;
    height:33px;
    font-size:18px;
    border-radius: 7px;
}
#shopTop #shopAdd{
    width:70px;
    font-size: 20px;
    padding:5px;
    border:1px solid #fff;
    float: right;
}

/* shop _ category */
#shopFirList{
    display: flex;
    margin-bottom:10px;
    font-size: 20px;
}
#shopFirList p{
    margin-right:20px;
}
#shopFirList p:nth-child(2){
    width:200px;
    margin-right:16px;
}
#shopFirList p:nth-child(3){
    margin-right:30px;
}
#shopFirList p:nth-child(4){
    margin-right:22px;
}
#shopFirList p:nth-child(5){
    margin-right:0px;
}

/* shop _ list */
#shopList::-webkit-scrollbar{
    display: none;
}


#shopList{
    padding:10px;
    height:820px;
    border:1px solid #fff;
    overflow-y: scroll;
}
#shopSecList{
    display: flex;
}
#shopSecList p {
    width:27px;
    margin-right:20px;
}
#shopSecList p:nth-child(2){
    width:215px;
    overflow: hidden;
}
#shopSecList p:nth-child(3){
    margin-right:48px;
}

#shopList li{
    border-bottom: 1px solid #fff;
    height:35px;
    line-height: 35px;
    margin-bottom: 5px;
}
#shopList input[type=button]{
    float:right;
    width:60px;
    font-size: 16px;
    padding:5px;
    border:1px solid #fff;
}


/* stock */
#shopStock #stock{
    width:985px;
    height: 99%;
    display: block;
    float: left;
    border: 1px solid #fff;
    margin:5px;
    box-sizing: border-box;
    padding:10px;
}
/* stock _ list */
#stockList::-webkit-scrollbar{
    display: none;
}

#stockList{
    border:1px solid #fff;
    padding:10px;
    height:820px;
    overflow-y:scroll ;
}
#stockList input[type=button]{
    float:right;
    width:60px;
    font-size: 16px;
    padding:5px;
    border:1px solid #fff;
}

#stockList li{
    border-bottom: 1px solid #fff;
    height:35px;
    line-height: 35px;
    margin-bottom: 5px;;
}
/* stock _ input:text,btn */
#stockTop{
    width:100%;
    height:40px;
    margin: 10px 0;
    display: block;
}
#stockTop input[type=text]{
    width:280px;
    height:33px;
    font-size:18px;
    border-radius: 7px;
}
#stockDate{
    display: inline-block;
    width:280px;
    height:30px;
    font-size:17px;
    border-radius:7px;
    border:1px solid #fff;
    color:#fff;
    text-align: center;
    line-height: 30px;

}
#stockTop #stockAdd{
    width:70px;
    font-size: 20px;
    padding:5px;
    border:1px solid #fff;
    float: right;
}
/* stock _ category */
#stockFirList{
    display: flex;
    margin-bottom: 10px;
    font-size: 19px;;
}
#stockFirList p:nth-child(1){
    margin-right:50px;
}
#stockFirList p:nth-child(2){
    margin-right:260px;
}
#stockFirList p:nth-child(3){
    margin-right:60px;
}
#stockFirList p:nth-child(4){
    width:100px;
    margin-right:270px;
}
#stockFirList p:nth-child(5){
    width:100px;
}


#stockSecList{
    display: flex;
}
#stockSecList p {
    width:27px;
    margin-right:50px;
}
#stockSecList p:nth-child(2){
    width:285px;
    overflow: hidden;
}
#stockSecList p:nth-child(3){
    margin-right:70px;
}
#stockSecList p:nth-child(4){
    width:300px;
    margin-right:55px;
}


